html, body {
  height: 100%;
}
.left-sidebar {
  width: 200px;
}
div.dropdown-menu.show {
  position: relative !important;
  transform: none !important;
}
.nav-link {
  color: rgba(0, 0, 0, .5);
}
.nav-link: hover {
  color: rgba(0, 0, 0, .7);
}
