.dropdown-submenu { position: relative }
.dropdown-submenu a::after {
    position: absolute;
    right: 6px;
    transform: rotate(-90deg);
    top: .8em;
}
.dropdown-submenu .dropdown-menu {
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
    top: 0;
}